/***************************
****************************
Reset Styles
****************************
***************************/

@import 'normalize.css';

/* change all elements to use border-box */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/***************************
****************************
 Global Styles
****************************
***************************/

body{
    overflow-x:hidden;
}

/***************************
****************************
 mobile first, y'all
****************************
***************************/

/***************************
 Landing
***************************/
a {
    text-decoration: none !important; /*nothing blue or purple! no underlines!*/
}
#landing {

    height: 100vh;
    width: 100vw;
    /*background-image: url(../images/background.svg);*/
   /* background: url(../images/background.png) black;*/
    background: url(../images/background.svg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.name {
    color: white;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 7.7294686vw;
    margin-top: -3.74396vw;
    font-weight: 300;
}

#logo {
    width: 63.76811594vw;
}

.container-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

#logoStuff { /* name and logo*/
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contact-list {

    flex-direction: row;
    justify-content: space-around;
    margin-top: 5vw;
    display: none;

}

.contact-link {
    padding: .5vw;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    color: white;
    font-size: 1.4648438vw;
    width: 13vw;
    text-align: center;

   /* border-color: white;
    border-top: 0;
    border-bottom: 0;
    border-right 0;
    border-left: 0;

    border-style: solid; */
}
.spacer{
    background-color: white;
    width: .2vw;
    display: none;
}
#nav {
    display: flex;
    flex-direction: column;
    margin-top: .03864734vw;
    text-align: center;
}

.nav-item {
    font-family: 'Roboto Slab', sans-serif;
    color: gray;
    margin-bottom: 5.79710145vw;
    font-size: 4.83091787vw;
}
#down-arrow {
    height: 5vw;
}

/***************************
 about
***************************/
#about-me {
    background-color: rgb(140,135,133);
}
.hero {
    font-size: 55px;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 300;
    margin: 0;
    color: white;
    padding-left: 21.4975845vw;
    padding-top: 16.666666667vw;
}
.about-text{
    color: white;
    font-family: 'Raleway', serif;
    font-weight: 200;
    padding-left: 21.4975845vw;
    padding-top: 15.70048309vw;
    padding-bottom: 12.56038647vw;
    padding-right: 23.67149758vw;
    margin: 0;
}
/*stuff for individual topics*/
#design-style {

}

#coding-style {

}

#stem-style {

}

#music-style {

}

#leadership-style {

}

#more-style {

}

/***************************
****************************
desktop
****************************
***************************/
@media all and (min-width: 641px) {
    /***************************
     Landing
    ***************************/
    #logoStuff {
        flex-direction: row;
        transform: translateY(10%);

    }
    /*reordered for desktop*/
    #logo {
        order: 1;
        width: 28.90625vw;
    }
    .name-2 {
        order: 3;
    }
    .name {
        font-size: 3.4179688vw;
        margin-top: 3vw;
    }
    #nav {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 1.953125vw;
        top: 4.58984375vw;
        margin-top: 0vw;
        text-align: right;
    }
    .nav-item {
        margin-bottom: 1.3671875vw;
        font-size: 1.46484375vw;
    }
    .contact-list{
        display: flex;
    }
    .down-arrow{
        position: absolute;
        bottom: 2vw;
    }
    #down-arrow {
    height: 3vw;
}
    /***************************
     about
    ***************************/
    .hero{
        padding-left: ;
        padding-top: ;
    }
}








