/***************************
****************************
Reset Styles
****************************
***************************/

@import 'normalize.css';

/* change all elements to use border-box */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/***************************
****************************
global styles
****************************
***************************/


/***************************
****************************
 local Styles
****************************
***************************/

#landing {
    background-color: black;
    height: 100vh;
    width: 100vw;
}

.name {
    color: white;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 2vw;
}

#logo {
    width: 30vw;
}

.container {
    display: flex;
    justify-content: center;
}

#logoStuff {
    display: flex;
    align-items: center;
}

@media all and (max-width: 600px) {
    #logoStuff {
        flex-direction: column;
    }
    #logo {
        order: -1;
    }
    .name-1 {
        order: 2;
    }
    .name-2 {
        order: 3;
    }
    .name {
        font-size: ;
        margin: 0px;
    }
}
